<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Primates</string>
		<key>Family</key>
		<string>Hominidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Accipitridae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Accipitridae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Accipitridae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Accipitridae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Accipitridae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Pandionidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Falconiformes</string>
		<key>Family</key>
		<string>Falconidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Falconiformes</string>
		<key>Family</key>
		<string>Falconidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Acciptriformes</string>
		<key>Family</key>
		<string>Cathartidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Strigiformes</string>
		<key>Family</key>
		<string>Strigidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Strigiformes</string>
		<key>Family</key>
		<string>Strigidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Aves</string>
		<key>Order</key>
		<string>Strigiformes</string>
		<key>Family</key>
		<string>Tytonidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Cervidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Cervidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Cervidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Cervidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Cervidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Bovidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Bovidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Bovidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Bovidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Artiodactyla</string>
		<key>Family</key>
		<string>Antilocapridae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Canidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Felidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Felidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Felidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Ursidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Ursidae</string>
	</dict>
	<dict>
		<key>Kingdom</key>
		<string>Animalia</string>
		<key>Phylum</key>
		<string>Chordata</string>
		<key>Class</key>
		<string>Mammalia</string>
		<key>Order</key>
		<string>Carnivora</string>
		<key>Family</key>
		<string>Ursidae</string>
	</dict>
</array>
</plist>
